body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url(https://cdn.photoroom.com/v1/assets-cached.jpg?path=backgrounds_v3/black/Photoroom_black_background_extremely_fine_texture_only_black_co_c100e1e4-63a9-4adc-9794-202888321104.jpg);
}

h1{
	position: absolute;
	top: 35%;
	left: 24%;
	background: linear-gradient(90deg, white, black, grey);
	background-size: 300%;
	font-size: 70px;
	font-family: sans-serif;
	letter-spacing: 5px;
	font-weight: 600;
/*	word-spacing: 5px;*/
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}

@keyframes animate{
	0%{
		background-position: 0%;
	}
	100%{
		background-position: 400%;
	}
}